div.icon {
    background: url(../assets/controller.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #222;
}

button:active {
    width: 55px;
    height: 55px;
    border-radius: 55px;
    font-size: 20px;
}

div.direction-pad div, div.action-buttons div {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

div.joystick {
    margin-top: 20px;
}

div.direction-pad button {
    background: #222;
    color: white;
    font-weight: bold;
}

div.baring {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 5px #222 solid;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #222;
    border: 10px #444 double;
    position: relative;
}

#y-button {
    background: gold;
    color: goldenrod;
}

#x-button {
    background: blue;
    color: cornflowerblue;
}

#a-button {
    background: green;
    color: lightgreen;
}

#b-button {
    background: maroon;
    color: crimson;
}